color{
  --hoverSombra: 10px -27px 138px 16px rgba(168,127,251,0.69);
  --color: rgba(168,127,251,0.69);
}
.buttonSocial{
  height: 100%;
  right: 10px;
  .bt{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0% 5px;
  }
}
.icon{
  color: white;
  transition: all ease-in-out .3s;
}
.icon:hover{
  color: rgba(168,127,251,0.69);
}