.contenedorBorde{
    height: 40px;
}
.contenedorAbierto{
    height: 300px;
}

.contenedorDefecto{
    width: 40%;
    min-width: 370px;
    background: var(--oscuro);
    border-radius: 10px 10px 0px 0px;
    position: fixed;
    bottom: 0px;
    -webkit-box-shadow: 10px -27px 138px 16px rgba(168,127,251,0.69);
    -moz-box-shadow: 10px -27px 138px 16px rgba(168,127,251,0.69);
    box-shadow: 10px -27px 138px 16px rgba(168,127,251,0.69);
    overflow: hidden;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: .2s linear;
    border: 1px solid var(--texto);
    border-bottom: 0px;
    left: 0%; right: 0%; bottom: 0%; margin: auto;
}


.contenedorBorde:hover{
    transition: .4s linear;
    animation: borde 3s linear infinite;
    transform: scaleX(1.02);
}

@keyframes borde {
    0%{
        border:1px solid  #5f8fff;
        border-bottom: 0px;
    }
    100%{
        border:1px solid #f68084;
        border-bottom: 0px;
    }
}

.cabecera{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

    .textoCabecera{
        color: var(--texto);
        font-weight: 900;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
}

.flechaContacto{
    margin-left: 10px;
    transition: 1s linear;
    cursor: pointer;
}

.contenedorContactos{
    height: 270px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    background-color: #302f2f7a;
}

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
  }


.light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
}

.light-button button.bt .button-holder svg {
    fill: #0f0f0f;
    transition: 300ms linear;
    margin-bottom: 3px;
}

.light-button button.bt .light-holder {
    cursor: pointer;
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 10%;
    width: 10px;
    height: 10px;
    background-color: #636366;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button button.bt:hover .button-holder svg {
    fill: rgba(88, 101, 242, 1);
  }
  
  .light-button button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(88, 101, 242, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
    top: 10%;
  }

  @media (max-width:780px) {
    .light-button button.bt .button-holder svg {
        fill: rgba(88, 101, 242, 1);
      }
      
      .light-button button.bt .button-holder {
        color: rgba(88, 101, 242, 1);
        outline: rgba(88, 101, 242, 1) 2px solid;
        outline-offset: 2px;
      }
      
      .light-button button.bt .light-holder .light {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(88, 101, 242, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
        top: 10%;
      }
      .light-button button.bt .light-holder .dot {
        position: absolute;
        top: 10%;
        width: 10px;
        height: 10px;
        background-color: #5e55ac;
        border-radius: 10px;
        z-index: 2;
      }
  }